{extend name="$_admin_base_layout" /}

{block name="content"}
<div class="row">
    <div class="col-md-12">
        <div class="block block-bordered">
            <div class="block-content">
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <a class="block block-link-hover3 text-center" href="{:url('project/add')}">
                            <div class="block-content block-content-full">
                                <i class="fa fa-plus fa-3x text-muted"></i>
                                <div class="font-w600 push-15-t">新增项目</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <a class="block block-link-hover3 text-center" href="{:url('team/index')}">
                            <div class="block-content block-content-full">
                                <i class="fa fa-product-hunt fa-3x text-muted"></i>
                                <div class="font-w600 push-15-t">项目动态</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <a class="block block-link-hover3 text-center" href="{:url('team/index')}">
                            <div class="block-content block-content-full">
                                <i class="fa fa-user-circle fa-3x text-muted"></i>
                                <div class="font-w600 push-15-t">班组库管理</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <a class="block block-link-hover3 text-center" href="{:url('audit/index')}">
                            <div class="block-content block-content-full">
                                <i class="fa fa-check-circle-o fa-3x text-muted"></i>
                                <div class="font-w600 push-15-t">班组审核</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <a class="block block-link-hover3 text-center" href="{:url('admission/index')}">
                            <div class="block-content block-content-full">
                                <i class="fa fa-hand-o-up fa-3x text-muted"></i>
                                <div class="font-w600 push-15-t">进场确认</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <a class="block block-link-hover3 text-center" href="{:url('ClockInStat/index')}">
                            <div class="block-content block-content-full">
                                <i class="fa fa-table fa-3x text-muted"></i>
                                <div class="font-w600 push-15-t">打卡记录</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-3">
        <a class="block block-link-hover3 text-center" href="{:url('project/index')}">
            <div class="block-content block-content-full">
                <div class="h1 font-w700 text-primary" data-toggle="countTo" data-to="{$project|default=0}"></div>
            </div>
            <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">在建项目</div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="block block-link-hover3 text-center" href="{:url('dynamic/index')}">
            <div class="block-content block-content-full">
                <div class="h1 font-w700 text-success" data-toggle="countTo" data-to="{$status_0|default=0}"></div>
            </div>
            <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">待班组审核人数</div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="block block-link-hover3 text-center" href="{:url('dynamic/index')}">
            <div class="block-content block-content-full">
                <div class="h1 font-w700 text-info" data-toggle="countTo" data-to="{$status_2|default=0}"></div>
            </div>
            <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">待项目确认人数</div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="block block-link-hover3 text-center" href="{:url('dynamic/index')}">
            <div class="block-content block-content-full">
                <div class="h1 font-w700 text-warning"><span data-toggle="countTo" data-to="{$status_3|default=0}"></span></div>
            </div>
            <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">在项目中人数</div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="block block-bordered">
             <div class="builder-table-body">
                 <table class="table table-builder table-hover table-bordered table-striped js-table-checkable-target">
                     <thead>
                     <tr>
                         <th rowspan="2" class="text-center" width="35%">项目名称</th>
                         <th rowspan="2" class="text-center">驻场人数</th>
                         <th colspan="2" class="text-center">昨天</th>
                         <th colspan="2" class="text-center">今天</th>
                     </tr>
                     <tr>

                         <th class="text-center">打卡人数</th>
                         <th class="text-center">打卡率</th>
                         <th class="text-center">打卡人数</th>
                         <th class="text-center">打卡率</th>
                     </tr>
                     </thead>
                     <tbody>

                     {volist name="projectStats" id="vo"}
                     <tr>
                         <td>{$vo.project_name}</td>
                         <td style="text-align: center; font-weight: bold;">{$vo.status3_count}</td>
                         <td style="text-align: center; font-weight: bold;">{$vo.yesterday_check_in_count}</td>
                         <td>
                             <div class="progress" style="position: relative;">
                             <div {if $vo.yesterday_check_in_rate <= 90}
                             class="progress-bar progress-bar-danger"
                               {else}
                             class="progress-bar progress-bar-success"
                                   {/if}
                             role="progressbar"
                             aria-valuenow="{$vo.yesterday_check_in_rate}"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             style="width: {$vo.yesterday_check_in_rate}%;">
                                 </div>
                                 <div style="position: absolute; top: 0; left: 0; width: 100%; text-align: center; font-weight: bold; line-height: 1.5em;">
                                {$vo.yesterday_check_in_rate}%
                             </div>
                             </div>
                         </td>
                         <td style="text-align: center; font-weight: bold;">{$vo.today_check_in_count}</td>
                         <td>
                             <div class="progress" style="position: relative;">
                             <div {if $vo.today_check_in_rate <= 90}
                             class="progress-bar progress-bar-danger"
                             {else}
                             class="progress-bar progress-bar-success"
                                 {/if}
                             role="progressbar"
                             aria-valuenow="{$vo.today_check_in_rate}"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             style="width: {$vo.today_check_in_rate}%;">
                                  </div>
                                 <div style="position: absolute; top: 0; left: 0; width: 100%; text-align: center; font-weight: bold; line-height: 1.5em;">
                                 {$vo.today_check_in_rate}%
                             </div>
                             </div>
                         </td>
                     </tr>
                     {/volist}


                     </tbody>
                 </table>
             </div>
        </div>
     </div>
</div>

{/block}

{block name="script"}
<script src="__ADMIN_JS__/core/jquery.countTo.min.js"></script>
<script>
    jQuery(function () {
        App.initHelpers(['appear-countTo']);
    });
</script>
{/block}